@charset "utf-8";
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*--HEAD START--*/
.header {
    width: 100%;
    height: 76px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.sectionHead {
    margin: 0 auto;
    width: 1040px;
    height: 75px;
}

.sectionHead .logo, .sectionHead .nav {
    float: left;
}

.sectionHead .login {
    float: right;
}

.sectionHead .logo {
    width: 255px;
    height: 100%;
}

.sectionHead .logo a {
    display: block;
    margin-top: 17px;
    width: 184px;
    height: 40px;
    background: url("../img/logo.png") no-repeat;
}

.sectionHead .nav {
    width: 605px;
    height: 100%;
}

.sectionHead .nav li {
    float: left;
    margin: 0 5px;
    width: 90px;
    height: 100%;
}

.sectionHead .nav li.bg {
    background: #1c90f2;
}

.sectionHead .nav li a {
    display: block;
    width: 100%;
    height: 72px;
    line-height: 72px;
    text-align: center;
    border-top: 3px solid transparent;

    font-size: 16px;
    color: #515151;
    font-weight: 700;
}

.sectionHead .nav li a:hover {
    border-top-color: #1c90f2;
}

.sectionHead .nav li.downLoad a:hover {
    border-top-color: transparent;
}

.sectionHead .nav li.bg a {
    color: #fff;
}

.sectionHead .login {
    display: block;
    margin-top: 17px;
    width: 66px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #1c90f2;
    color: #fff;
    border-radius: 3px;
}

.downLoad {
    position: relative;
}

.downLoad .downLoadImg, .downLoad .downLoadBg {
    display: none;
    position: absolute;
    left: -15px;
    top: 75px;
    padding: 10px 17px;
    width: 93px;
}

.downLoad .downLoadBg {
    height: 137px;
    background: #fff;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.downLoad .downLoadImg img {
    width: 93px;
    height: 93px;
}

.downLoad .downLoadImg span {
    display: block;
    height: 22px;
    line-height: 22px;
    text-align: center;
}

/*--HEAD END--*/

.con {
    margin: 20px auto;
    width: 1040px;
    overflow: hidden;
}

/*--LEFT START--*/
.conLeft {
    position: relative;
    float: left;
    width: 198px;
    height: 100%;
    border: 1px solid #ececec;
    background: #fff;
}

.conLeft li {
    height: 58px;
    line-height: 58px;
    border-bottom: 1px solid #ececec;
}

.conLeft li.last {
    border-bottom: none;
}

.conLeft li a {
    display: block;
    padding-left: 24px;
    height: 100%;
    border-left: 5px solid transparent;
}

.conLeft li a:hover {
    border-left-color: #1C90F2;
    background: #fafafa;
}

.conLeft li.bg a {
    border-left-color: #1C90F2;
    color: #1C90F2;
}

/*--LEFT END--*/

/*--RIGHT START--*/
.conRight {
    float: right;
    width: 800px;
    height: 100%;
    overflow: hidden;
}

.conRight .calendar {
    height: 80px;
    border: 1px solid #dcdcdc;
    background: #fff;
    position: relative;
}

.conRight .matchList {
    position: relative;
    overflow: hidden;
}

.conRight .calendar .calBtn {
    position: absolute;
    top: 0;
    width: 32px;
    height: 100%;
    cursor: pointer;
}

.conRight .calendar .calendarLeft {
    left: 0;
    text-align: center;
}

.conRight .calendar .calendarRight {
    right: 0;
    text-align: center;
}

.conRight .calendar .calBtn .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    border: 8px solid transparent;

}
.conRight .calendar .calBtn.calendarLeft .arrow{
    border-left-width: 0;
}
.conRight .calendar .calBtn.calendarRight .arrow{
    border-right-width: 0;
}
.conRight .calendar .calBtn.calendarLeft .arrow.arrowOut {
    border-right-color: #1C90F2;

}
.conRight .calendar .calBtn.calendarLeft .arrow.arrowIn {
    border-right-color: white;
    left: 2px;
}
.conRight .calendar .calBtn.calendarRight .arrow.arrowOut {
    border-left-color: #1C90F2;

}
.conRight .calendar .calBtn.calendarRight .arrow.arrowIn {
    border-left-color: white;
    right: -6px;
}
.arrowDiv {
    display: inline-block;
    position: relative;
    top: 12px;
}

.matchInfo h2 {
    padding-left: 5px;
    line-height: 45px;
    font-weight: 700;
}

.matchInfo ul {
    border: 1px solid #dcdcdc;
    border-bottom: none;
    background: #fff;
}

.matchInfo ul li {
    position: relative;
    height: 80px;
    border-bottom: 1px solid #dcdcdc;
}

.matchTime {
    float: left;
    width: 238px;
    height: 100%;
    background: red;
}

.matchBtn {
    float: right;
    width: 125px;
    height: 100%;
    background: green;
}

.matchTeam {
    float: left;
    width: 380px;
    height: 100%;
    background: yellow;
}

/*--RIGHT END--*/













