@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    font-size: 14px;
    color: #424242;

}
header,section,footer,nav{
    display: block;
}
ul,li{
    list-style: none;
}
img{
    display: block;
    border: none;
}
body{
    background: #f4f4f4;
}
a,a:target,a:hover,a:visited,a:link{
    text-decoration: none;
}