@charset "utf-8";
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*HEAD START*/
.header {
    width: 100%;
    height: 76px;
    background: #ffffff;
    border-bottom: 1px solid #dddddd;
}

.sectionHead {
    margin: 0 auto;
    width: 1040px;
    height: 75px;
}

.sectionHead .logo, .sectionHead .nav {
    float: left;
}

.sectionHead .login {
    float: right;
}

.sectionHead .logo {
    padding-top: 17px;
    width: 255px;
    height: 100%;
    box-sizing: border-box;
}

.sectionHead .logo a {
    display: block;
    width: 184px;
    height: 40px;
    background: url("../img/logo_75a1a3.png") no-repeat center;
}

.sectionHead .nav {
    width: 605px;
    height: 100%;
}

.sectionHead .nav li {
    float: left;
    width: 89px;
    height: 100%;
    margin: 0 3px;
    text-align: center;
    font-weight: 700;
}

.sectionHead .nav li.bg {
    background: #1c90f2;
}

.sectionHead .nav li.bg a {
    color: #ffffff;
}

.sectionHead .nav li a {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.72);
    display: block;
    width: 100%;
    height: 72px;
    line-height: 72px;
    border-top: 3px solid transparent;
}

.sectionHead .nav li a:hover {
    border-top: 3px solid #1c90f2;
}

.sectionHead .nav li.downLoad a {
    border-top: 3px solid transparent;
}

.sectionHead .login {
    display: block;
    background: #1c90f2;
    color: #ffffff;
    width: 66px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    margin-top: 17px;
}

.downLoad {
    position: relative;
}

.downLoadImg, .downLoadBg {
    position: absolute;
    top: 75px;
    left: -15px;
    text-align: center;
    /*display: inline-block;*/
    padding: 10px 20px;
    display: none;
}

.downLoadBg {
    width: 133px;
    height: 151px;
    box-sizing: border-box;
    background: white;
    opacity: 0.4;
    z-index: -1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
}

.downLoadImg img {
    width: 93px;
    height: 93px;
}

.downLoadImg span {
    display: block;
    font-size: 14px;
}

/*HEAD END*/

.con {
    width: 1040px;
    overflow: hidden;
    margin: 20px auto 20px auto;
}

/*left start*/
.conLeft {
    width: 198px;
    height: 100%;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    background: #ffffff;
    position: relative;
    float: left;
}

.conLeft li {
    width: 100%;
    height: 58px;
    line-height: 58px;
    border: 1px solid #eee;
}

.conLeft li.last {
    border-bottom: none;
}

.conLeft li a {
    display: block;
    height: 100%;
    border-left: 5px solid transparent;
    padding-left: 24px;
}
.conLeft li a:hover {
    border-left-color:#1c90f2;
    color: #1c90f2; background: rgba(0, 0, 0, 0.04);
}
.conLeft li.bg a{
    border-left-color:#1c90f2;
    color: #1c90f2;
}
/*left end*/

/*right start*/
.conRight{
    float: right;
    width: 800px;
    overflow: hidden;

    height: 100%;
}
.conRight .calendar{
    height: 80px;
    border: 1px solid grey;
    background: #ffffff;
}
.conRight .matchList{
    position: relative;
    overflow: hidden;
}

.conRight .matchList li{
    height: 100px;
}
/*right end*/